<div class="row">
	<div class="col-lg-3 col-md-4">
		<div class="profile-pic row-space-4 ">profile pic</div>
		<div class="panel row-space-4 ">
			<div class="panel-header">About Me</div>
		</div>
		<div class="profile-pic row-space-4 ">profile pic</div>
	</div>
	<div class="col-lg-9 col-md-8 col-sm-12">
		<h1>Hey, I'm <%= @user.first_name %></h1>
		<h4>Member since <%= @user.created_at %></h4>
	</div>
</div>